.App {
  margin: 10px;
}

.product {
  padding: 20px 50px;
  background-color: tomato;
  border-radius: 10px;
  font-size: xx-large;
  line-height: 1.8;
  text-align: center;
  width: fit-content;
  margin: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(209, 86, 237);
  border: 1px solid gray;
  box-shadow: 3px 3px 10px rgb(209, 86, 237);
  font-weight: bolder;
  border-radius: 10px;
  color: #fff;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.userBox {
  padding: 20px 30px;
  color: #000;
  background-color: yellow;
  width: 500px;
  text-align: center;
  border-radius: 105px 18px 105px 18px;
  -moz-border-radius: 105px 18px 105px 18px;
  -webkit-border-radius: 105px 18px 105px 18px;
  border: 3px solid #9092f6;
}
